$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-linkedin: "\e920";
$icon-github: "\e921";
$icon-facebook: "\e922";
$icon-megaphone: "\e91f";
$icon-arrow-square-left: "\e900";
$icon-arrow-square-right: "\e901";
$icon-bell: "\e902";
$icon-cross: "\e907";
$icon-three-dots: "\e90a";
$icon-double-arrow-left: "\e91d";
$icon-double-arrow-right: "\e91e";
$icon-search: "\e91b";
$icon-instagram-line: "\e915";
$icon-play: "\e914";
$icon-pause: "\e913";
$icon-double-chevron-left: "\e912";
$icon-sidebar: "\e911";
$icon-double-chevron-right: "\e911";
$icon-twitter: "\e90d";
$icon-instagram: "\e90e";
$icon-foundation: "\e90f";
$icon-medium: "\e910";
$icon-discord: "\e908";
$icon-opensea: "\e909";
$icon-chevron-left-2: "\e916";
$icon-chevron-right-2: "\e917";
$icon-dropdown-arrow-up: "\e918";
$icon-wallet: "\e919";
$icon-discord-2: "\e91a";
$icon-maintenance: "\e91c";
$icon-profile: "\e90b";
$icon-disconnect: "\e90c";
$icon-chevron-down: "\e903";
$icon-chevron-left: "\e904";
$icon-chevron-right: "\e905";
$icon-chevron-up: "\e906";

